.mainCont {
    display: flex;
    width: 75%;
    margin: 30px auto;
    justify-content: space-between;
}

.rightCont {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.rightCont table {
    width: 30%;
    text-align: center;
    border: 1px solid #373c4250;
    border-collapse: collapse;
    font-size: 15px;
    min-width: 230px;
    max-width: 250px;
}

.rightCont td {
    border: 1px solid #373c4250;
    height: 30px;
    color: #373c42;
    padding: 10px;
}

.rightCont .planHead {
    font-size: 30px;
    font-weight: bold;
}

table .price {
    background-color: #f3f3f3;
}

.price span {
    font-size: 30px;
    color: #ff7462;
    font-weight: bold;
}

table .button {
    padding: 0px;
}

.rightCont button {
    width: 100%;
    background-color: #373c42;
    border: none;
    color: #fff;
    height: 140%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.leftCont {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #646464;
}

input {
    height: 35px;
    padding-left: 8px;
    border: 1px solid #6464648e;
}

ul {
    list-style: none;
}

.leftCont li::before {
    content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.91 122.88" fill="%233b3e47"><g><path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"/></g></svg>');
    display: inline-block;
    /* Ensure proper display */
    width: 5px;
    /* Adjust width */
    height: 5px;
    margin-right: 10px;
}

.leftCont li {
    padding: 10px 0px;
    border-bottom: dashed #64646477 1px;
    font-size: 12px;
    color: #646464;
}

.leftCont .lastli {
    border: none;
}

hr {
    background-color: #64646450;
    border: none;
    height: 1px;
}

.leftCont h3 {
    font-size: 14px;
}

.leftCont p {
    font-size: 11px;
}