* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.profilecontainer {
    height: 30px;
    background-color: #2f3239;
}

.profiles {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profiles ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.profiles ul li {
    display: inline;
}

.profiles ul li img {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

.headcontainer {
    background-color: #383c45;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    color: #f3f3f3;
    height: 50px;

}

.logo img {
    vertical-align: bottom;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}

.nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    vertical-align: middle;

    gap: 20px;
}

.nav ul li {
    height: 100%;
    vertical-align: middle;
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.activepage {
    background-color: #ff7462;
    height: 100%;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;

}

.maincont {
    background-color: #ff7462;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

main {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main section {
    width: 40%;
}

.top .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mainimg {
    max-width: 100%;
}

button {
    background-color: #3d3a41;
    color: #f3f3f3;
    height: 40px;
    display: block;
    width: 150px;
    border: none;
    font-weight: bold;
}

.bottom {
    width: 75%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 48%;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    gap: 10px;
}

.cardimg img {
    width: 50px;
    height: 50px;
}

.cardcont {
    width: 60%;
}