* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.profilecontainer {
    height: 30px;
    background-color: #2f3239;
}

.profiles {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profiles ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.profiles ul li {
    display: inline;
}

.profiles ul li img {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

.headcontainer {
    background-color: #383c45;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.maincont {
    background-color: #ff7462;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

main {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main section {
    width: 40%;
}

.mainimg {
    max-width: 100%;
}